.short-text {
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    display: inline;
}

.header-table {
    background-color: gray;
    color: #fff;
}

.header-table:hover {
    background-color: gray !important;
    color: #fff !important;
}

.header-table th {
    text-align: center;
}

.body-table td {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.span-red {
    color: #a94442;
}

.required-text-box {
    padding-top: 4px;
}

.button-list {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 20px
}

.invalid-feedback {
    color: #e5020c;
    font-weight: bold;
    font-size: 0.87em;
}

.form-control.is-invalid,
.custom-select.is-invalid,
.form-check-input.is-invalid ~ .form-check-label,
.custom-control-input.is-invalid ~ .custom-control-label,
.custom-file-input.is-invalid ~ .custom-file-label {
    border-color: #dc3545 !important;
}

.form-control.is-invalid:focus,
.custom-select.is-invalid:focus {
    border-color: #dc3545 !important;
    -webkit-box-shadow: 0 0 0 0.2rem #e7bdc1 !important;
    box-shadow: 0 0 0 0.2rem #e7bdc1 !important;
}

.custom-control-input.is-invalid ~ .custom-control-label::before {
    background-color: #efa2a9 !important;
}

.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
    background-color: #e4606d !important;
}

.m-w-100 {
    max-width: 100px;
}

.m-w-200 {
    max-width: 200px;
}

.m-w-300 {
    max-width: 300px;
}

.m-w-400 {
    max-width: 400px;
}

.m-w-500 {
    max-width: 500px;
}

.deleted_tr {
    background-color: #f5f5f5;
}

.wp-10 {
    width: 10%;
}

.wp-20 {
    width: 20%;
}

.wp-30 {
    width: 30%;
}

.wp-40 {
    width: 40%;
}

.wp-50 {
    width: 50%;
}

.wp-60 {
    width: 60%;
}

.wp-70 {
    width: 70%;
}

.wp-80 {
    width: 80%;
}

.wp-90 {
    width: 90%;
}

.wp-100 {
    width: 100%;
}